In [13]:
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("full_df_cleaned.csv")

In [30]:
df.head()

,client_id,tenure_years,tenure_months,age,gender,number_of_accounts,account_balance,calls_last_6_months,logons_last_6_months,variation,visitor_id_device,visit_id_web,process_step,date_time
0,836976,6,73,60,U,2,45105.3,6,9,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6,73,60,U,2,45105.3,6,9,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6,73,60,U,2,45105.3,6,9,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6,73,60,U,2,45105.3,6,9,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6,73,60,U,2,45105.3,6,9,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24

In [16]:
df_control = df[(df['variation'] == 'Control') & (df['process_step'] == 'confirm')]

df_control

,client_id,tenure_years,tenure_months,age,gender,number_of_accounts,account_balance,calls_last_6_months,logons_last_6_months,variation,visitor_id_device,visit_id_web,process_step,date_time
11,2304905,7,94,58,U,2,110860.30,6,9,Control,336210275_56978226960,724930510_65323235593_692754,confirm,2017-05-21 11:07:16
24,3727881,5,71,30,U,2,23915.60,0,3,Control,875448077_54387937735,717519432_65547872352_613051,confirm,2017-03-29 14:00:45
31,272934,5,66,58,U,2,27021.42,2,5,Control,227827901_46893415084,468902637_55778357932_556682,confirm,2017-04-05 16:53:48
41,285619,30,369,67,M,2,299388.72,3,6,Control,667009768_32934260678,545534470_5635716155_93472,confirm,2017-03-29 11:57:25
55,8368822,8,100,34,U,2,75578.54,0,3,Control,909797679_4655955482,461998074_76753586914_861991,confirm,2017-04-12 11:21:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321145,9932367,23,280,57,F,2,94466.55,6,9,Control,445698439_1878097775,363679978_29683950783_960618,confirm,2017-06-01 01:39:16
321146,9932367,23,280,57,F,2,94466.55,6,9,Control,445698439_1878097775,968804851_45704966841_830072,confirm,2017-06-07 00:42:30
321147,9932367,23,280,57,F,2,94466.55,6,9,Control,445698439_1878097775,766634277_21925255721_574715,confirm,2017-05-24 10:01:33
321152,4079649,23,276,62,M,3,57575.28,4,7,Control,135423080_71753269572,155993046_1538887816_806756,confirm,2017-04-10 12:19:52
321169,6967120,21,260,68,M,3,4279873.38,6,9,Control,663474827_38847225720,923772865_74694577233_449836,confirm,2017-04-12 19:06:55

In [17]:
df_test = df[(df['variation'] == 'Test') & (df['process_step'] == 'confirm')]

df_test

,client_id,tenure_years,tenure_months,age,gender,number_of_accounts,account_balance,calls_last_6_months,logons_last_6_months,variation,visitor_id_device,visit_id_web,process_step,date_time
0,836976,6,73,60,U,2,45105.30,6,9,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6,73,60,U,2,45105.30,6,9,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6,73,60,U,2,45105.30,6,9,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
36,388801,30,361,57,M,5,522498.72,1,4,Test,56607555_75044897582,247503697_11679931698_453228,confirm,2017-04-06 10:48:22
50,8198645,15,189,54,F,2,382303.83,6,9,Test,82840443_57437149926,400364490_7666683185_180781,confirm,2017-03-30 12:32:11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321180,5826160,20,249,56,F,2,44837.16,2,5,Test,903851930_50402388184,61772393_69755892600_710588,confirm,2017-04-19 17:34:52
321181,5826160,20,249,56,F,2,44837.16,2,5,Test,903851930_50402388184,61772393_69755892600_710588,confirm,2017-04-19 17:34:14
321182,5826160,20,249,56,F,2,44837.16,2,5,Test,69579557_2827236069,268191173_38958330991_849725,confirm,2017-05-03 19:03:28
321183,5826160,20,249,56,F,2,44837.16,2,5,Test,69579557_2827236069,268191173_38958330991_849725,confirm,2017-05-03 19:02:25
321184,8739285,19,229,69,F,2,44994.24,1,4,Test,8756552_54841419737,101846948_96925910026_299041,confirm,2017-04-12 15:01:19

In [18]:
df_test = df_test.drop_duplicates(subset='client_id', keep='first')
df_test = df_test.drop_duplicates(subset='client_id', keep='first')
print("Unique IDs in df_test:", df_test['client_id'].nunique(), "Total rows:", len(df_test))
print("Unique IDs in df_control:", df_control['client_id'].nunique(), "Total rows:", len(df_control))

Unique IDs in df_test: 18682 Total rows: 18682
Unique IDs in df_control: 15428 Total rows: 17498

In [20]:
import pandas as pd
from scipy.stats import chi2_contingency

#H0 new design 'confirm' confirmation = old_confirmation
#H1 new design 'confirm' =! old design 'confirmation'

# Create a contingency table
data = {
    'Confirm': [len(df_test), len(df_control)],
    'Total': [len(df[df['variation'] == 'Test']), len(df[df['variation'] == 'Control'])]
}

contingency_table = pd.DataFrame(data, index=['Test', 'Control'])

# The total confirmations should be corrected if df_test and df_control only contain confirmations.
contingency_table['Non-Confirm'] = contingency_table['Total'] - contingency_table['Confirm']

# Perform Chi-squared test
chi2, p_value, dof, expected = chi2_contingency(contingency_table[['Confirm', 'Non-Confirm']])

# Print the results
print(f"Chi-squared Statistic: {chi2}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print("Expected Frequencies:")
print(expected)

# Decision based on the p-value
alpha = 0.05  # significance level
if p_value < alpha:
    print("Reject the null hypothesis - There is a significant difference in the number of confirmations between the Test and Control groups.")
else:
    print("Fail to reject the null hypothesis - There is no significant difference in the number of confirmations between the Test and Control groups.")

Chi-squared Statistic: 227.5821696507228
P-value: 2.0074416931150348e-51
Degrees of Freedom: 1
Expected Frequencies:
[[ 20026.25713352 157760.74286648]
 [ 16153.74286648 127254.25713352]]
Reject the null hypothesis - There is a significant difference in the number of confirmations between the Test and Control groups.

In [23]:
# checking compl rate incraese 5%

# Create a contingency table
data = {
    'Confirm': [len(df_test), len(df_control)],
    'Total': [len(df[df['variation'] == 'Test']), len(df[df['variation'] == 'Control'])]
}

# Convert total entries to total potential confirmations
contingency_table = pd.DataFrame(data, index=['Test', 'Control'])
contingency_table['Non-Confirm'] = contingency_table['Total'] - contingency_table['Confirm']

# Calculate completion rates
contingency_table['Completion Rate'] = contingency_table['Confirm'] / contingency_table['Total']

# Calculate the increase in completion rate
increase = (contingency_table.loc['Test', 'Completion Rate'] - contingency_table.loc['Control', 'Completion Rate']) / contingency_table.loc['Control', 'Completion Rate']
increase_percentage = increase * 100  # Convert to percentage

# Print the results
print("Contingency Table:")
print(contingency_table)
print(f"Increase in completion rate: {increase_percentage:.2f}%")

# Check if the increase meets or exceeds 5%
threshold = 5.0
if increase_percentage >= threshold:
    print("The observed increase in completion rate meets or exceeds the 5% threshold.")
else:
    print("The observed increase in completion rate does not meet the 5% threshold.")

# Optionally, perform Chi-squared test to validate statistical significance
chi2, p_value, dof, expected = chi2_contingency(contingency_table[['Confirm', 'Non-Confirm']])
print(f"Chi-squared Statistic: {chi2}")
print(f"P-value: {p_value}")

Contingency Table:
         Confirm   Total  Non-Confirm  Completion Rate
Test       18682  177787       159105         0.105081
Control    17498  143408       125910         0.122016
Increase in completion rate: -13.88%
The observed increase in completion rate does not meet the 5% threshold.
Chi-squared Statistic: 227.5821696507228
P-value: 2.0074416931150348e-51

In [28]:
#age hypothesis test
#H0 old people use new design


# Filter the DataFrame to include only users aged 50-80
age_filtered_df = df[(df['age'] >= 50) & (df['age'] <= 80)]

# Create a contingency table of counts for 'Test' and 'Control' variations
contingency_table = pd.crosstab(age_filtered_df['variation'], columns='count')

# Perform the chi-squared test
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

# Print the results
print(f"Chi-squared Statistic: {chi2}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print("Expected Frequencies:")
print(expected)

# Decision based on the p-value
alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis - There is a significant association between age group 50-80 and variation preference.")
else:
    print("Fail to reject the null hypothesis - There is no significant association between age group 50-80 and variation preference.")

Chi-squared Statistic: 0.0
P-value: 1.0
Degrees of Freedom: 0
Expected Frequencies:
[[69847.]
 [88878.]]
Fail to reject the null hypothesis - There is no significant association between age group 50-80 and variation preference.

In [32]:

# Define the bins for age groups
bins = [16, 35, 49, 80, 96]  # Starts at 16 to include 17, ends at 96 to include 96
labels = ['17-35', '36-49', '50-80', '81+']  # Include an additional category for 81 to 96

# Use pd.cut to categorize each age
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=True)

# Print the first few rows to confirm the new column is added correctly
print(df.head())

# Optionally, you can check the distribution across the groups
print(df['age_group'].value_counts())

   client_id  tenure_years  tenure_months  age gender  number_of_accounts  \
0     836976             6             73   60      U                   2
1     836976             6             73   60      U                   2
2     836976             6             73   60      U                   2
3     836976             6             73   60      U                   2
4     836976             6             73   60      U                   2

   account_balance  calls_last_6_months  logons_last_6_months variation  \
0          45105.3                    6                     9      Test
1          45105.3                    6                     9      Test
2          45105.3                    6                     9      Test
3          45105.3                    6                     9      Test
4          45105.3                    6                     9      Test

      visitor_id_device                 visit_id_web process_step  \
0  427070339_1413275162  228976764_46825473280_96584      confirm
1  427070339_1413275162  228976764_46825473280_96584      confirm
2  427070339_1413275162  228976764_46825473280_96584      confirm
3  427070339_1413275162  228976764_46825473280_96584       step_3
4  427070339_1413275162  228976764_46825473280_96584       step_2

             date_time age_group
0  2017-04-02 11:51:13     50-80
1  2017-04-02 11:47:50     50-80
2  2017-04-02 11:46:45     50-80
3  2017-04-02 11:23:08     50-80
4  2017-04-02 11:22:24     50-80
age_group
50-80    158725
17-35     86318
36-49     72497
81+        3655
Name: count, dtype: int64